.widget-header {
    position: relative;
    border-bottom: #eceff1 1px solid;
    margin: 0 -10px 0 -10px;
    padding: 0 15px 15px 15px;
}

.widget-title {
    font-size: 24px;
    font-weight: bold;
}

.widget-sub-title {
    font-size: 13px;
}

.widget-content {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-content {
    padding: 30px 10px;
    border: #ccc dashed 1px;
    border-radius: 5px;
    width: 100%;
    background-color: #fafafa;
    font-size: 11px;
    text-align: center;
    margin: 5px 8px;
}